* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: "Roboto";
  overflow: hidden;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 30px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 200px;
  font-size: 20px;
  color: #e03b8b;
}

nav img {
  position: relative;
  bottom: 10px;
  right: 70px;
}

.signin-btn {
  background: linear-gradient(to right, rgb(109, 109, 240), rgb(231, 123, 208));
  width: 150px;
  padding: 0px 10px;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
}

.intro-section {
  display: flex;
  flex-direction: row;
}

.left-section {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  gap: 70px;
}

.left-section h1 {
  position: relative;
  font-size: 90px;
  left: 30px;
  color: #361977;
}

.left-section h4 {
  position: relative;
  font-size: 15px;
  left: 30px;
  width: 300px;
}

.learn-more-btn {
  position: relative;
  width: 250px;
  left: 30px;
  font-size: 30px;
  background: linear-gradient(to right, rgb(109, 109, 240), rgb(231, 123, 208));
  border-radius: 40px;
  padding: 10px 15px;
  color: #ffffff;
  border: none;
  font-weight: 700;
}
.imgs-div img {
  height: 150px;
}

.imgs-div {
}
